<style>
    body{
        background:url("/images/splashscreen.png") no-repeat center center fixed;
        bacground-size:cover;
    }
</style>
<p><a href="/roomScreen"> <image id="start" height="auto" src="/images/start.png" width="20%"/></a></p>