<img src="/images/background.jpg" class="background" alt="">
<img src="/images/potlood.png" class="imageIcon">
<div class="maindiv">
    <div class="toppart">
<h1>Creeër een room of join er één!</h1>
        <hr>
<form id="room">
    <input id="roomName" type="text" placeholder="Naam van de room">
    <input type="submit" value="Creeër room" class="button">
</form>
    </div>
    <div class="tooltip"><img src="/images/rooms.png" width="15px" height="15px" style="margin-right: 3px;"><span class="tooltiptext">Aantal rooms</span> <b id="room_amount" style="color: green"></b></div>
    <div class="tooltip"><img src="/images/players.png" width="15px" height="15px" style="margin-right: 3px;"><span class="tooltiptext">Aantal spelers</span> <b id="player_amount" style="color: green"></b></div>
    <hr>
<div id="room_div" class="bottompart"></div>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://localhost:4200');
    var userId;
    var playersAmount = 0;
    socket.on('connect', function(data) {
        //id van de client
        userId = socket.io.engine.id;

        socket.emit('join', 'Hello World from client from the room page');
    });


    socket.on('refreshRooms', function (data) {
    var roomsAmount = data.length;
    if(roomsAmount != 0) {
        $('#room_amount').html(roomsAmount);
    }else{
        $('#room_amount').html(0);
    }


    for(p in data){
            playersAmount += data[p].players.length;
        }
    if(playersAmount != 0) {
        $('#player_amount').html(playersAmount);
    }else{
        $('#player_amount').html(0);
    }

        //de div leegmaken en alles weer opnieuw inladen
        $('#room_div').empty();
        for(i=0; i<data.length; i++){
            //alleen dit doen als de room niet vol zit
            if(data[i].players.length <= 2){
                //naam van de room en een button maken voor elke room de value is de plek in de array
                $('#room_div').append("<div class='roomline'><p class='name'>"+ data[i]['name'] + "</p>  <div class='roomlineRight'><button onclick='joinRoom("+[i]+")' id='join_room' class='button'>Join room</button> <b style='color:green' class='amount'>"+data[i].players.length+"/4</b></div></div>");
            }else if(data[i].players.length == 3){
                $('#room_div').append("<div class='roomline'><p class='name'>"+ data[i]['name'] + "</p>  <div class='roomlineRight'><button onclick='joinRoom("+[i]+")' id='join_room' class='button'>Join room</button> <b style='color:darkorange' class='amount'>"+data[i].players.length+"/4</b></div></div>");
            }else {
                $('#room_div').append("<div class='roomline'><p class='name'>"+data[i]['name'] + "</p>   <div class='roomlineRight'><div style='width: 20px;'></div> <b style='color:red' class='amount'>"+data[i].players.length+"/4</b> </div></div>");

            }
        }
    });
    //gebeurt wanneer iemand een room creeërt
    $('#room').submit(function(e){
        e.preventDefault();
        //de value van de input
        if($('#roomName').val() == ''){
            var roomName = "Anonymous Room"
        }else {
            var roomName = $('#roomName').val();
        }
        //input sturen naar de server en daar opslaan
        socket.emit('room', roomName);
    });

    socket.on("joinOwnRoom", function (data) {
       joinRoom(data);
    });
    //onclick zorgt ervoor dat deze functie wordt aangeroepen
    function joinRoom(roomId){
        location.href = '/room?roomid='+roomId;
    }
</script>
</div>
</div>