<img src="/images/background.jpg" class="background" alt="">
<!--<button onclick='woordCheck(document.getElementById("test1").value.toLowerCase());'>Test</button>-->
<div class="wrapper">
    <div class="leftpanel">
        <div class="paintPanel">
            <div class="welcome">
                <h1 id="title">Welkom in de Room</h1>
                <p id="drawer" style="color:royalblue"></p>
                <hr>
            </div>
            <div class="box">
                <div class="boxone">
                    <button class="button" id="bigger" onclick="bigger()">++</button>
                    <button class="button" id="smaller" onclick="smaller()">--</button>
                    <div class="colordiv">
                        <div id="black" class="colorSquare"></div>
                        <div id="purple" class="colorSquare"></div>
                        <div id="blue" class="colorSquare"></div>
                        <div id="orange" class="colorSquare"></div>
                        <div id="red" class="colorSquare"></div>
                        <div id="yellow" class="colorSquare"></div>
                        <div id="green" class="colorSquare"></div>
                        <div id="eraser" onclick="eraser()"></div>
                    </div>
                </div>
                <div class="boxtwo">
                    <button class="button" onclick="clearCanvas()">Clear</button>
                </div>
            </div>
            <!--Hier wordt de canvas getekend d.m.v. javascript-->
            <div id="canvasDiv" class="box three"></div>

        </div>
        <div class="hostPrivileges">
            <!--If player = host-->
            <button class="button" id="startknop">Start</button>
            <button class="button" onclick="setScore()">Kick Player</button>
            <button class="button">Abandon Room</button>
            <!--else-->
            <!--Leave Room-->
        </div>
    </div>
    <div class="rightpanel">
        <div class="scoreboard">
            <p id="output" class="timerpts">Time left: 02:00 Points: 100</p>
            <p id="scores" class="scores">
            </p>
        </div>
        <div class="chat_wrapper">
            <div id="chat"></div>
            <form id="chat_form">
                <p><textarea id="message"></textarea> <input type="submit" value="verstuur"/></p>
            </form>
        </div>
        <div id="tekenen">

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="javascripts/color.js"></script>
<script src="javascripts/canvas.js"></script>
<script src="javascripts/button.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="javascripts/roomFunctions.js"></script>
<script>
    var socket = io.connect('http://localhost:4200');
    var userId;
    socket.on('connect', function (data) {
        //id van de client
        userId = socket.io.engine.id;
        $("#title").append(" " + userId);
        //room controleren server sided
        socket.emit('joinRoom', {user: userId, room: roomId});
    });

    socket.on('roomData', function (data){
        setRoomData(data);
    });
    socket.on('fullRoom', function () {
        location.href = "/roomScreen";
    });
    socket.on('chat', function (data) {
        $("#chat").append(data + "</br>");
        $('#chat').animate({scrollTop: $(document).height() + $('#chat').height()});
    });
    socket.on('tekening', function (data) {
        ArraySize = data.size;
        ArrayY = data.y;
        ArrayX = data.x;
        ArrayColor = data.color;
        Draggable = data.dragg;
        DrawOnCanvas();
    });

    socket.on('startTimer',function () {
        stop = false;
        countdownSec = 120;
        score = 50;
        start();
    });

    socket.on('stopTimer', function (data) {
        stop = true;
        if(data.word != "undefined"){
            $("#chat").append("<b style='color:mediumvioletred'>Het woord was: " + data.word + " " + data.user + " was de eerste die het woord goed raadde en heeft " + data.points + " punten gekregen!<b></br>");
        }
    });
</script>