body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

hr{
  margin: 0px;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  /* Preserve aspet ratio */
  width: 100%;
  height: 100%;
}
#room{
  margin: 1em;
}


#chat{
  width:100%;
  height:54vh;
  overflow-y: scroll;
  overflow-wrap: break-word;
  word-wrap: break-word;
  background-color: whitesmoke;
}

#chat::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#chat::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

#chat::-webkit-scrollbar-thumb
{
  background-color: #1561b4;
}

#chat_form{
  width:100%;
  height:25vh;
}

#chat_form textarea{
  width:80%;
  height: 20vh;
}

.tooltip{
  display:inline-flex;
  margin: 5px;
}
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  font-family: "Lucida Sans Typewriter";
  text-align: center;
  border-radius: 6px;
  padding: 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.maindiv{
  margin:auto;
  margin-top: 50px;
  text-align: center;
  background-color: lightgrey;
  min-height: 500px;
  width: 500px;
  border: solid black 5px;
}

.imageIcon{
  width: 200px;
  height: 200px;
  position: static;
  float:right;
}
.button {
  border:solid #f09294 2px;
  border-radius:10px;
  color: #f09294;
  background-color: #1561b4;
  font-family: "Lucida Sans Typewriter";
  font-weight: bold;
  height: 25px;
}
.button:hover{
  background-color: #208dcd;
}
.toppart{
  border-bottom: solid black 5px;
}
.bottompart{
  max-height: 400px;
  overflow-y: auto;
}
.bottompart::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.bottompart::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

.bottompart::-webkit-scrollbar-thumb
{
  background-color: #1561b4;
}
.roomline{
  display: flex;
  justify-content: space-between;
  margin-left:1em;
  margin-right:1em;
  margin-top:2px;
  margin-bottom:2px;
}
.name{
  font-family: "Lucida Sans Typewriter";
  height: 25px;
  vertical-align: middle;
  width:50%;
  text-transform: uppercase;
}
.roomlineRight{
  width: 50%;
  height:25px;
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  margin-left: 1em;
}

.wrapper{
  display: inline-flex;
}
.leftpanel{
  width: 75vw;
  margin-top: 1em;
}
.paintPanel{

}
.hostPrivileges{
  background-color: #f09294;
  height:20vh;
  justify-content: center;
}
.hostPrivileges .button{
  border: solid black 2px;
}

.rightpanel{
  width:20vw;
}
.scoreboard{
  height:15vh;
  background-color: yellow;
  width: 100%;
}
.scoreboard p:first-child{
  margin: 0px;
  top:0;
  position:relative;
  float:right;
}
.timerpts{
  background-color: red;
}
.scores{
  padding: 1em;
}
.chat_wrapper{
  padding-left: 1vh;
  padding-right: 1vh;
  overflow: hidden;
  background-color: black;
}

@media screen and (max-width: 1080px) {
    .imageIcon{
      display: none;
    }
}

