body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

hr {
    margin: 0px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    /* Preserve aspet ratio */
    width: 100%;
    height: 100%;
}
#scores img{
  width:25px;
  height:25px;
}

#room {
    margin: 1em;
}

#chat {
    height: 45vh;
    overflow-y: scroll;
    overflow-wrap: break-word;
    word-wrap: break-word;
    background-color: whitesmoke;
    padding-left: 1em;
    padding-right: 1em;
    border: solid #f09294 2px;
    border-radius: 10px;
    background-color: #1561b4;
    color: #f09294;
    font-family: "Lucida Sans Typewriter";
    font-weight: bold;


}

#chat::-webkit-scrollbar {
    display:none;
}

#chat_form {
    width: 100%;
    height: 25vh;
}

#chat_form textarea {
    width: 98%;
    height: 80%;
    margin-top:1vh;
    margin-bottom:1vh;
}

.tooltip {
    display: inline-flex;
    margin: 5px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    font-family: "Lucida Sans Typewriter";
    text-align: center;
    border-radius: 6px;
    padding: 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.maindiv {
    margin: auto;
    margin-top: 50px;
    text-align: center;
    background-color: lightgrey;
    min-height: 500px;
    width: 500px;
    border: solid black 5px;
}

.imageIcon {
    width: 200px;
    height: 200px;
    position: static;
    float: right;
}

.button {
    border: solid #f09294 2px;
    border-radius: 10px;
    color: #f09294;
    background-color: #1561b4;
    font-family: "Lucida Sans Typewriter";
    font-weight: bold;
    height: 25px;
}

.button:hover {
    background-color: #208dcd;
}

.toppart {
    border-bottom: solid black 5px;
}

.bottompart {
    max-height: 400px;
    overflow-y: auto;
}

.bottompart::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.bottompart::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.bottompart::-webkit-scrollbar-thumb {
    background-color: #1561b4;
}

.roomline {
    display: flex;
    justify-content: space-between;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2px;
    margin-bottom: 2px;
}

.name {
    font-family: "Lucida Sans Typewriter";
    height: 25px;
    vertical-align: middle;
    width: 50%;
    text-transform: uppercase;
}

.roomlineRight {
    width: 50%;
    height: 25px;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-left: 1em;
}

.wrapper {
    display: inline-flex;
    border: solid black 5px;
    background-color: lightgray;
    padding:5px;
}

.leftpanel {
    width: 75vw;
    min-width: 500px;
}
.welcome{
    padding: 1em;
}
.hostPrivileges {
    height: 4vh;
    padding-left: 1em;
    padding-right: 1em;
    justify-content: center;
}

.rightpanel {
    width: 20vw;
    min-width: 175px;
}

.scoreboard {
    height: 19vh;
    padding:2px;
    border: solid #f09294 2px;
    border-radius: 10px;
    color: #f09294;
    background-color: #1561b4;
    font-family: "Lucida Sans Typewriter";
    font-weight: bold;
    overflow-y: scroll;
}
.scoreboard::-webkit-scrollbar {
    display:none;
}

.scoreboard p:first-child {
    margin: 0px;
    top: 0;
    position: relative;
    float: right;
}

.timerpts {
    padding:2px;
}

.scorenames p{
  margin:0;
}

.scorenames {
  display:flex;
  vertical-align: middle;
}

.chat_wrapper {
    overflow: hidden;
    height:73vh;
    padding-top: 1vh;
}



canvas {
    background-color: white;
    cursor: url('../images/pencil.png'), pointer;
    border: 5px solid black;

}

.colorSquare {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    display: inline-block;
}

.colorSquare:hover {
    opacity: 0.6;
    cursor: pointer;
}

/*Kleuren*/
#purple {
    background-color: purple;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}

#orange {
    background-color: orange;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#black {
    background-color: black;
}

#eraser {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url("../images/eraserSmall.png");
}

#eraser:hover {
    opacity: 0.6;
    cursor: pointer;
}

.paintPanel {
    height: 90vh;
}

.line{
    display:none;
}
.box {
    display: flex;
    text-align: center;
    padding-right: 1em;
    justify-content: space-between;
}
.boxthree{
    padding:1em;
}

.colordiv{
    display: flex;
    margin: 1em;
}

.buttons-left {
    float: left;
}

.buttons-right {
    display: inline-block;
}
#startknop{
    display: none;
    float: right;
}

@media screen and (max-width: 1080px) {
    .imageIcon {
        display: none;
    }
    .welcome{
        display:none;
    }
    .box{
        padding: 1em;
    }

    .line{
        display:block;
    }
}
